/* =============== Base =============== */

.site-sidebar {
	padding: 1rem;
	transition: $transition-timing $transition-easing transform;


	@include bp(992) {
		grid-area: site-sidebar;
		min-height: 100vh;
	}

	// ~~~~ STATE - SITE NAV OPEN
	.js-site-nav-active & {
		transform: translate3d(100%, 0, 0);

		@include bp(768) {
			transform: translate3d(18.75rem, 0, 0);
		}

		@include bp(1200) {
			transform: translate3d(0, 0, 0);
		}
	}
}