.site-header {
	padding: 1rem;

	@include bp(768) {
		grid-area: site-header;
	}

	&__branding-wrapper {
		text-align: center;
	}

	&__branding {
		display: inline-block;
		height: 2.5rem;

		svg {
			width: 100%;
			max-width: 100px;
			height: 100%;
		}
	}
}