.site-content-wrapper {
	transition: $transition-timing $transition-easing transform;

	@include bp(768) {
		display: grid;
		min-height: 100vh;
		grid-template-columns: 1fr 18.75rem;
		grid-template-rows: minmax(0, min-content) 1fr;
		grid-template-areas: "site-header site-header""site-content site-sidebar";
	}

	// STATE - SITE NAV OPEN
	.js-site-nav-active & {
		transform: translateX(100vw);

		@include bp(768) {
			transform: translateX(18.75rem);
		}
	}
}