/* =============== Base =============== */
.site-content-wrapper {
	transition: $transition-timing $transition-easing transform;
	min-height: 100vh;

	@include bp(992) {
		grid-area: site-content-wrapper;
	}

	@include bp(1200) {
		max-width: 1200px;
		margin: 0 auto;
	}

	// ~~~~ STATE - SITE NAV OPEN
	.js-site-nav-active & {
		transform: translateX(100%);

		@include bp(768) {
			transform: translateX(18.75rem);
		}

		@include bp(1200) {
			transform: none;
		}
	}
}