.site-layout {
	@include bp(1200) {
		display: grid;
	}

	&--standard {

		// STATE - SITE NAV OPEN, parent class applied here
		&.js-site-nav-active {
			overflow-x: hidden;
		}

		@include bp(1200) {
			grid-template-columns: 18.75rem 1fr;
			grid-template-areas: "site-nav site-content-wrapper";
		}
	}
}