/* =============== Base =============== */
.site-layout {

	// standard layout – no modifier
	@include bp(992) {
		display: grid;
		grid-template-columns: 1fr 18.75rem;
		grid-template-areas: "site-content-wrapper site-sidebar"
	}

	@include bp(1200) {
		grid-template-columns: 18.75rem 1fr 18.75rem;
		grid-template-areas: "site-nav site-content-wrapper site-sidebar"
	}
}