// site

.site {

	&-nav,
	&-content,
	&-header,
	&-sidebar {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 2px solid;
	}

	&-nav {
		background: $color-gray-darker;
	}

	&-content {
		background: #fff;
	}

	&-header {
		background: $color-gray-dark;
	}

	&-sidebar {
		background: $color-gray-dark
	}
}