// site
.site {
	&-nav {
		background: #555;
	}

	&-content-wrapper {
		background: #ddd;
	}

	&-content {
		background: #eee;
	}

	&-content-header {
		background: #999;
	}

	&-sidebar {
		background: #bbb
	}
}