//accessible hide (still on for screen readers and seo)
.accessible-hide {
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px)
}

.button {
	padding: .5rem 2rem;

	&--primary {
		background: $color-gray-darker;
	}

	&--icon {
		display: flex;
		width: 3rem;
		height: 3rem;
		padding: 0;

		svg {
			margin: auto;
			width: 50%;
			height: 50%;
		}
	}

	&--round {
		border-radius: 99em;
	}
}