html,
body {
	min-height: 100%;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

img {
	max-width: 100%;
	display: inline-block;
}

button {
	outline: none;
	border: none;
	display: inline-block;
	background: transparent;
	cursor: pointer;
}

svg {
	display: block;
}