// breakpoint
$bp-320: 20em; // iphone 5 and above
$bp-768: 48em; // vertical tablet
$bp-992: 62em; // horizontal tablet and small desktop
$bp-1200: 75em; // medium desktop


// colors base
$color-base-white: #fff;
$color-base-lighten-5: rgba($color-base-white, .05);
$color-base-lighten-10: rgba($color-base-white, .10);
$color-base-lighten-15: rgba($color-base-white, .15);
$color-base-lighten-20: rgba($color-base-white, .20);
$color-base-lighten-25: rgba($color-base-white, .25);
$color-base-black: #000;
;


// colors primary
$color-primary-green: #0D8372;

// colors secondary
$color-secondary-green: #44BB90;


// colors text
$color-text-primary: #07242E;


// transitions
$transition-easing: ease-out;
$transition-timing: .3s;


// font-family
$font-family-body: "whitney a",
"whitney b",
sans-serif;
$font-family-button: $font-family-body;

// font-weight
$font-weight-body: 400;
$font-weight-button: 600;

// line-height
$line-height-body: 1.5;
$line-height-button: 1;